<ul>
  <li>
    Bring to the table win-win survival strategies to ensure proactive
    domination. At the end of the day.
  </li>
  <li>
    Capitalize on low hanging fruit to identify a ballpark value added activity
    to beta test override the digital.
  </li>
</ul>

<style>
  ul {
    display: grid;
    gap: 1rem;
  }

  li {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    color: var(--color-primary-black);
  }

  li:before {
    content: "";
    flex-shrink: 0;
    width: 1.5rem;
    aspect-ratio: 1;
    background: var(--checkmark) 50% 50% / contain no-repeat;
  }

  @layer reset {
    html,
    body {
      height: 100%;
    }

    body {
      display: grid;
      place-items: center;
      font-family: system-ui;
    }

    ul {
      list-style: none;
      padding: 0;
    }
  }
</style>
