---
const { cols } = Astro.props;
---

<div class="grid-container" style={`--cols: ${cols}`}>
  <slot />
</div>

<style>
  .grid-container {
    display: grid;
    gap: 1rem;

    @media (width > 650px) {
      grid-template-columns: repeat(var(--cols), 1fr);
    }
  }
</style>
